#banner-part {
  background: url(../img/donation6.jpg) no-repeat center;
  background-size: cover;
  padding: 100px 0;
  text-align: center;
}

#banner-part h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 50px;
  font-weight: 400;
  color: #ffffff;
  margin-top: -30px;
  padding: 0px 370px;
}

#banner-part p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 0px 394px;
  color: rgb(149, 236, 10);
}
#banner-part .btn {
  display: inline-block;
  padding: 15px 20px;
  background: #8484bf;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #8484bf;
  text-decoration: none;
}
h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  margin-top: 100px;
  color: black;
}
p {
  text-align: center;
}

.donate-text {
  padding: 0px 340px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: darkgrey;
}

.donate-amount {
  padding: 0px 340px;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: darkgrey;
  display: flex;
  justify-content: space-around;
  font-weight: 600;
}

.donate-amount p {
  background-color: rgba(128, 128, 128, 0.103);
  padding: 25px 14px;
  border: 1px solid rgba(128, 128, 128, 0.103);
}
span {
  color: aqua;
}
.form-part {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: darkgrey;
  border-bottom: 2px solid darkgrey;
}
.button {
  text-align: center;
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
}

a {
  text-decoration: none;
  padding: 18px 30px;
  background-color: aqua;
  border-radius: 5px;
  color: white;
}
footer {
  background-color: black;
  padding: 50px 0;
  margin: 0px;
  text-align: center;
}

h4 {
  color: purple;
  font-size: 25px;
}
h6 {
  color: rgb(238, 142, 238);
  font-size: 16px;
}
.form {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  text-align: center;
  background-color: gray;
  display: flex;
}
